.back a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

li a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-flow: column;
}