---
layout: default
---
<header class="position-sticky top-0 back mb-3 py-3 bg-light">
    <div class="container-lg">
        <nav class="navbar">
            <div>
                <a class="h5 link" href="/news">&#10094; Back</a>
            </div>

            <div>
                <a class="h5 text-muted">{{ page.tag }}</a>
            </div>
        </nav>
    </div>
</header>
<div class="content container-lg">
    <h1>{{ page.title }}</h1>
    <small class="bold text-muted">
        {{page.date | date_to_string}}
    </small>
    <hr />
    <div class="w-100">
        {{ content }}
    </div>

    <h2 class="mt-6">Comments</h2>
    <hr class="mb-0" />
    <script src="https://utteranc.es/client.js"
        repo="itech-uum/news"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>
