---
layout: default
---
<header class="position-sticky top-0 back mb-3 py-3 bg-light">
    <div class="container-lg">
        <nav class="navbar">
            <div>
                <a class="h5 link" href="/news">BACK</a>
            </div>
        
            <div>
                <a class="h5 text-muted">{{ page.tag }}</a>
            </div>
        </nav>
    </div>
</header>
<div class="content fit container-lg">
    <div class="content">
        <div>
            <h1>{{ page.title }}</h1>
            <p class="pb-3 text-muted h5">
                {{page.date | date_to_string}}
            </p>
            <hr />
            <div class="w-100 pt-3">
                {{ content }}
            </div>
        </div>
    </div>
</div>
